.welcome {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 11;
  // background: url('/images/bg815.png');
  // opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.6);

  :global {
  }
}
